<!DOCTYPE html>
<html lang="">
<head>
  <title>UserManagementApp</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'flash_messages', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  <% if user_signed_in? %>
    <nav class="bg-blue-500 text-white p-4">
      <div class="container mx-auto flex justify-between items-center">
        <span class="font-semibold">Hi, <%= current_user.name %></span>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, data:{turbo:"false"} , class: "bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    </nav>
  <% end %>
  <% flash.each do |type, message| %>
  <div class="<%= type %> px-4 py-3 rounded relative" role="alert">
    <span class="block sm:inline"><%= message %></span>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    </span>
  </div>
<% end %>

  <div class="container mx-auto mt-8">
    <%= yield %>
  </div>
</body>
</html>

